{% extends 'brewwerblog/base.html' %}
{% load static %}

{% block content %}


<style type="text/css">
	.confirm-friend-request{
		color: green;
	}
	.confirm-friend-request:hover {
		opacity: 0.3;
	}
	.decline-friend-request:hover {
		opacity: 0.3;
	}
	.decline-friend-request{
		color: red;
	}
</style>
<div  class="container content-section3">
	<div class="row justify-content-center  "> 
	  <div class="col">
		  <div class="row justify-content-end">
			  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
				  <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
				</svg>
		  </div>				
	  </div>
	  <div class="col">
		  <div class="row">
			  <small >Member</small>

		  </div>
		  <div class="row">
			  <small >Requests</small>

		  </div>
	  </div>

  </div>

</div>
<div class="container">
<div class="container">
	<div class=" col ">

		{% if member_requests %}
		{% for request in member_requests %}
			<div class="row">
				<div class="col-4 d-flex justify-content-center">
					<a href="">
						<img class="rounded-circle account-img" src="{{request.user_sending_invitation.profile.image.url}}" alt="">
					</a>
				</div>
				<div class="col ">
					<div class="flex-row d-flex justify-content-center mt-3">
						<a class="profile-link" href="{% url 'show_profile_page' request.user_sending_invitation.id %}">
								<h4 class="account-heading">{{request.user_sending_invitation.username}}</h4>
						</a>
					</div>
					<div class="flex-row d-flex justify-content-center mt-3">
							<button id="id_cancel_{{request.user_sending_invitation.id}}" class="btn btn-outline-info btn-block"  onclick='triggerDeclineMemberRequest("{{request.id}}")'>decline</button>
					  
					</div>
					<div class="flex-row d-flex justify-content-center mt-3">
						<button id="id_confirm_{{request.user_sending_invitation.id}}"  class="btn btn-outline-danger btn-block" onclick='triggerAcceptMemberRequest("{{request.id}}")'>accept</span>

					  </div>
				</div>


			</div>
		{% endfor %}
		
		{% else %} <!-- If no members -->
		<div class="content-section BlueOutlineCss2 mt-5">
			<div class="row d-flex justify-content-center m-0">
				<h1 class="account-heading text-center">No active friend requests</h1>
			</div>
		</div>
		{% endif %}
		</div>
	
</div>

<script type="text/javascript">

	function onMemberRequestAccepted(){
		location.reload();
	}

	function onMemberRequestDeclined(){
		location.reload();
	}

	function triggerAcceptMemberRequest(member_request_id){
	acceptMemberRequest(member_request_id, onMemberRequestAccepted)
}

	function triggerDeclineMemberRequest(member_request_id){
		declineMemberRequest(member_request_id, onMemberRequestDeclined)
	}
</script>

{% include 'brewwerchannels/snippets/accept_member_request.html' %}
{% include 'brewwerchannels/snippets/decline_member_request.html' %}


{% endblock content %}
