<script type="text/javascript">
    function acceptFriendRequest(friend_request_id,uiUpdateFunction){
        var url="{% url 'friend-requests-accept' friend_request_id=4695533623317035052381771098137214148418571476651835798893002895939424197341011783153746526303690972 %}".replace("4695533623317035052381771098137214148418571476651835798893002895939424197341011783153746526303690972", friend_request_id)
        $.ajax({
            type:"GET",
            dataType:"json",
            url:url,
            timeout:5000,
            success:function(data){
                if(data.response == "Friend request accepted."){

                }
                else if(data.response != null){
                    alert(data.response)
                }
            },
            error: function(data){
                alert("Something went wrong: " + data)

        },
            complete:function(data){
                uiUpdateFunction()

            },
        })
    }


</script>