{% extends "brewwerblog/base.html" %}
{% block content %}
{% load crispy_forms_tags %}

{% load static %}
    {% if user.is_authenticated %}
    <div class="container">
      <div  class="content-section BlueOutlineCss">
        <div class="row justify-content-center"> 
            <div class="col">
              <h4 class="text-center tab1">H o t B r e w s</h4>
            </div>
        </div>
      </div>
    </div>
    {%else %}
    <div id="joinNowC" class="container">
      <div class="row justify-content-center"> 
          <div class="col">
            <h4 class="text-center">Create your own Brews</h4>
            <h4 class="text-center">Share Your Speeches and Writtings</h4>
          </div>
        <div class= "col align-self-center">
          <div class="row justify-content-center">
            <button id="buttonJoin" type="button" class="btn btn-danger btn-lg btn-block">
              <a href="{% url 'brewwer-register' %}">
                <h2>Join Today</h2>
              </a>
          </button>
          </div>  
      </div>
      </div>
    </div>
    {%endif%}


    <div class="col  infinite-container">

      {% for obj in page_obj %}
      <div class="content-section infinite-item">
        <div class="media mb-2">

              <div class="media-body mr-2">
                <div class="d-flex justify-content-center">
                  {% if obj.header_image%}
                      <img src="{{ obj.header_image.url }}" class="img-fluid">
                  {%endif%}
                  </div> 
              </div>
          </div>
          <div class="row">
          <div class="col-1.5">
            <img class= "rounded-circle article-img m-0 ml-1" src="{{ obj.author.profile.image.url}}">
              <!-- FORM HERE -->
  
             </div>
          <div class="col ">
            
            <a class="mr-2" href="{% url 'show_profile_page' obj.author.id %}">@{{ obj.author }}</a>
                <small class="text-muted">{{ obj.data_posted }}</small>
                <a href="{% url 'post-detail' obj.id %}"><h1 class="article-title pt-1">{{ obj.title }}</h1></a>
                  <p class="article-content">{{ obj.snippet}}   <a href="{% url 'post-detail' obj.id%}">Continue Reading</a></p>
    
                  </div>
          </div>
          <div class="row m-1">
            <div class="col p-0" id="my_friends">
                    {% if user.is_authenticated %}
                    {% for field in form%}
                            <form id="friend-form" method="POST" >
                                {% csrf_token %}
                                <input type="hidden" id="post_id" value={{obj.id}}>
                                { field }
                                <button type="submit" class="btn btn-outline-info" value="Create Friend">Submit</button>

                            </form>
                            {% endfor %}
                      {% else %}
                  {% endif %}
            </div>

        <div class="col-1 d-flex justify-content-center px-1">
          <h1>{{ obj.number_of_comments }}</h1>

        </div>
      </div>
            <button class=" btn btn-outline-info btn-sm cmt_btn mx-1">Comments</button>
            <div class="comment-box">
               <ul id="my_friends">
                  {% if obj.comments.all %}
                      {% for c in obj.comments.all %}
                      <li >           
                        <div>
                            <span>
                            <strong class="text-info">{{ c.author }} </strong>
                            <small class="text-muted">{{ c.date_posted }}</small>
                            </span>
                            <p>
                            {{ c.comment}}
                            </p>
                        </div>
                        </li>
                      {% endfor %}
                  {% else %}
                    <strong class="text-secondary">No comments yet...</strong>
              {% endif %}
                  </ul>
                </div>
                 

        </div>
        {% endfor %}
    </div>

  {%if page_obj.has_next %}
    <a class= "infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
    <!--<a class= "btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>-->
  {%endif%}

  <script src="{% static 'brewwerblog/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'brewwerblog/infinite.min.js' %}"></script>
  <script src="{% static 'brewwerblog/jquery-2.2.4.min.js' %}"></script>
  <script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],

        offset: 'bottom-in-view',
        onBeforePageLoad: function(){

        },
        onAfterPageLoad:function(){

        }

    })
</script>
{% endblock content %}

{% block scripts %} 
    <script>
        $( document ).ready(function() {
            let display = false
            $(".cmt_btn").click(function () {
                if (display===false) {
                    $(this).next(".comment-box").show("slow");
                    display=true
                } else {
                    $(this).next(".comment-box").hide("slow");
                    display=false
                }  
            });
                    /*
            On submiting the form, send the POST ajax
            request to server and after successfull submission
            display the object.
        */
      })
    </script>

{% endblock scripts %}
{% block side %}
  <h1>hello</h1>
{%endblock%}