{% extends "brewwerblog/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
{% if user.is_authenticated %}
<style>

</style>
<div class="col mt-3 ">
  <div class="container">
    <div class="row">
      <div class="col-2 d-flex justify-content-center align-items-center">
        <a href="{% url 'show_profile_page' object.author.id %}">
          <img class="rounded-circle article-img m-0 " src="{{ object.author.profile.image.url}}">
        </a>
      </div>
      <div class="col">
        <div class="">
          <div class="login d-flex align-content-start ">
            <div class="col-12 col-md-12 col-lg-11 col-xl-11">
              <div class="row">
                <a class="px-0" href="{% url 'show_profile_page' object.author.id %}">@{{ object.author }}</a>
                <a href="{%url 'category' object.category%}"><button class=" btn btn-Category btn-sm cmt_btn mx-1 my-1">{{object.category}}</button></a>

                <div class="d-flex align-items-end px-0">
                  <small class="text-muted">{{ object.data_posted }}</small>

                </div>
              </div>

              <div class="row ">
                <a href="{% url 'post-detail' object.id %}" class="link-secondary text-white p-0">
                  <span class="h5  mt-3">{{ object.title }}</span>
                </a>
                <p class=" mb-0 px-0"></br>{{ object.snippet}} </p>
                <h5 class="px-0"></br>{{ object.content}}  </h5>


              </div>



            </div>
          </div>
        </div>


      </div>
    </div>

  </div>
  <div class="media-body">
    <div class="d-flex justify-content-center my-4">
      {% if object.header_image%}
      <a href="{% url 'post-detail' object.id %}">
        <img src="{{ object.header_image.url }}" class="img-fluid">

      </a>
      {%endif%}
    </div>
  </div>
  <div class="row mt-4">

    <div class="col">
      <div class=" d-flex justify-content-center">
        <button type="button" data-answer="{{object.id}}" class=" btn btn-button btn-sm cmt_btn "><svg
            xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
            class="bi bi-chat-dots" viewBox="0 0 16 16">
            <path
              d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
            <path
              d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z" />
          </svg></button>
        <p class="text-muted mx-2 my-0">{{object.comments.count}}</p>
      </div>

    </div>

    <div class=" col">
      <div class=" d-flex justify-content-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="orange"
          class=" bi bi-arrow-down-circle downvote-click" data-answer="{{object.id}}" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
        </svg>
        <p class="downvote-count-{{object.id}} text-muted mx-2">{{object.downvote_set.count}}</p>
      </div>

    </div>
    <div class="col">
      <div class=" d-flex justify-content-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="lightgreen"
          class="upvote-click bi bi-arrow-up-circle" data-answer="{{object.id}}" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
        </svg>
        <p class="upvote-count-{{object.id}} text-muted mx-2">{{object.upvote_set.count}}</p>
      </div>
    </div>



  </div>
  <div class="mt-3 comment-wrapper-{{object.id}} comment-box-{{object.id}}">
    <div class="row">

      <div class="col">
        <div class="container">
          <textarea class="form-control comment-text-{{post.id}} placeholder="
            placeholder="Add a comment"></textarea>

        </div>
      </div>




    </div>
    {%if object.comments.all %}
    {% for c in object.comments.all %}
    <div>

      <ul>
        <span>
          <strong class="text-info">{{ c.author }} </strong>
          <small class="text-muted">{{ c.date_posted }}</small>

        </span>
        <p>
          {{ c.comment}}
        </p>
      </ul>
    </div>
    {% endfor %}
    {% else %}
    <div class="container mb-3">
      <strong class="text-secondary">No comments yet by others...</strong>

    </div>
    {% endif %}
  </div>







          </div>
          <div class="container">
            <div class="row">
              <div class="col ">
                <div class="d-flex flex-row-reverse">
                  <button type="button" class="btn btn-info pt-1 pb-0" value="Previous Page" onClick="window.history.back(); return false;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                    
                  </button>

                </div>
                
  
              </div>
  
            </div>
          </div>






        {%else%}
        <div class="container">
          <div class=" col justify-content-center align-self-center ">
            <div class=" justify-content-center">
          <a href="{% url 'brewwer-login'%}">
            <button class="btn btn-outline-info btn-block">
              <h1 class="account-heading">Login to continue</h1>
            </button>
          </a>
           </div>
          </div>
        </div>
        {%endif%}
        
        <script src="{% static 'brewwerblog/jquery-3.6.0.min.js' %}"></script>
        <script>
          $(document).ready(function(){
            $(".save-comment").on('click',SaveComment);
            display = false
        
            $(".cmt_btn").on('click',HideUnHide);
        
            $(".upvote-click").on('click',performUpVote);
        
            $(".downvote-click").on('click',performDownVote);
        
        
          });
          var SaveComment =function(event){
            var _answerid=$(this).data('answer');
              var _comment=$(".comment-text-"+_answerid).val();
        
              $.ajax({
                url:"/save-comment",
                type:"POST",
                data:{
                  answerid:_answerid,
                  comment:_comment,
                  csrfmiddlewaretoken:"{{csrf_token}}"
                },
                dataType:'json',
                beforeSend:function(){
                  $(".save-comment").addClass('disabled')
                },
                success:function(res){
                  var _prevcomment=$(".comment-count-"+_answerid).text();

                  if(res.bool==true && !(_comment==="") ){
                    $(".comment-text-"+_answerid).val('');
                    var _html='<div>\
                                  <ul>\
                                    <span>\
                                    <strong class="text-info">{{ request.user }} </strong>\
                                    <smal class="text-muted">{% now "jS F Y H:i" %} </small>\
                                    </span>\
                                    <p>'+_comment+'</p>\
                                    </ul>\
                                </div>';
                          $(".comment-wrapper-"+_answerid).prepend(_html);
                          $(".comment-count-"+_answerid).text(parseInt(_prevcomment)+1);

                  }else{}
                  $(".save-comment").removeClass('disabled')
                }
              });
              console.log(_comment,_answerid);
          }
          var HideUnHide = function(event){
            console.log(display)
            var _buttonid=$(this).data('answer');
            if (display===false) {
                $(".comment-box-"+_buttonid).show("fast");
                display=true;
                console.log(display)
        
            } else {
                $(".comment-box-"+_buttonid).hide("fast");
                display=false
                console.log(display)
        
            }  
          }
          var performUpVote = function(event){
            var answerid=$(this).data('answer');
              console.log(answerid);   
              $.ajax({
                url:"/save-upvote",
                type:"POST",
                data:{
                  answerid:answerid,
                  csrfmiddlewaretoken:"{{csrf_token}}"
                },
                dataType:'json',
                success:function(res){
                  console.log(res)
                  var _prevupvote=$(".upvote-count-"+answerid).text();
                  if(res.bool==true){
                    $(".upvote-count-"+answerid).text(parseInt(_prevupvote)+1);
                  }
                }
              });
          }
          var performDownVote = function(event){
                    var answerid=$(this).data('answer');
                    // Ajax
                    $.ajax({
                        url:"/save-downvote",
                        type:"post",
                        data:{
                            answerid:answerid,
                            csrfmiddlewaretoken:"{{csrf_token}}"
                        },
                        dataType:'json',
                        success:function(res){
                            var _prevupvote=$(".downvote-count-"+answerid).text();
                            if(res.bool==true){
                                $(".downvote-count-"+answerid).text(parseInt(_prevupvote)+1);
                            }
                        }
                    });
          }
        </script>
          
{% endblock content %}
