<script type="text/javascript">
    function acceptMemberRequest(member_request_id,uiUpdateFunction){
        var url="{% url 'member-requests-accept' member_request_id=46955336011783153746526303690972 %}".replace("46955336011783153746526303690972", member_request_id)
        $.ajax({
            type:"GET",
            dataType:"json",
            url:url,
            timeout:5000,
            success:function(data){
                if(data.response == "Member request accepted."){

                }
                else if(data.response != null){
                    alert(data.response)
                }
            },
            error: function(data){
                alert("Something went wrong: " + data)

        },
            complete:function(data){
                uiUpdateFunction()

            },
        })
    }


</script>