<script type="text/javascript">
	
    function sendMemberRequest(id, uiUpdateFunction){
        payload = {
            "csrfmiddlewaretoken": "{{ csrf_token }}",
            "receiver_pot_id": id,
        }
        $.ajax({
        type: 'POST',
        dataType: "json",
        url: "{% url 'member-request' %}",
        timeout: 5000,
        data: payload,
        success: function(data) {
            console.log("SUCCESS", data)
            if(data['response'] == "Member request sent."){
                // ui is updated
            }
            else if(data['response'] != null){
                alert(data['response'])
            }
        },
        error: function(data) {
            console.error("ERROR...", data)
            alert("Something went wrong.")
        },
        complete: function(data){
            uiUpdateFunction()
            }
        });
    }


</script>
